<a href="https://colab.research.google.com/github/priyanshi-git/Portfolio-Optimization/blob/main/optimization_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pulp in /usr/local/lib/python3.7/dist-packages (2.6.0)

In [21]:
#Importing the necessary modules

import pandas as pd
import numpy as np
from pulp import *

In [22]:
#creating the dataframe of the necessary data

df = pd.read_excel(r'/content/TOP 15 ASSETS Data.xlsx')
print(df.head())

        Date   Asset 1   Asset 2   Asset 3   Asset 4   Asset 5   Asset 6  \
0 2020-01-01 -0.005043 -0.005036  0.000775 -0.003363  0.001497  0.003876
1 2020-01-02 -0.007497  0.006632 -0.005470 -0.009216  0.022186  0.004874
2 2020-01-03 -0.006809 -0.001751 -0.006226 -0.012125 -0.010459  0.001935
3 2020-01-06  0.003964  0.001858  0.002741 -0.008733  0.014661  0.003019
4 2020-01-07 -0.008216  0.004525  0.004504  0.007033 -0.014113 -0.005396

    Asset 7   Asset 8   Asset 9  Asset 10  Asset 11  Asset 12  Asset 13  \
0  0.004524  0.004192  0.002422  0.002797 -0.001422 -0.009238 -0.004591
1 -0.004781 -0.000220  0.011277  0.020051 -0.021920 -0.015684  0.019929
2 -0.005512 -0.011975  0.004182 -0.005213 -0.025265 -0.011198 -0.000091
3  0.004815 -0.010119  0.012096  0.003866  0.010105  0.000099  0.002454
4 -0.004281  0.030892 -0.001567  0.002567  0.002552  0.007011  0.022395

   Asset 14  Asset 15
0 -0.002918 -0.002046
1  0.015380 -0.010764
2 -0.009584  0.000518
3 -0.014820 -0.007250
4 -0.013326 -0.005999

In [23]:
df.to_csv ("Asset.csv", index = None, header=True) #turned it into csv to use numpy efficiently
asset_data = pd.read_csv("Asset.csv")
pd.DataFrame(asset_data)

,Date,Asset 1,Asset 2,Asset 3,Asset 4,Asset 5,Asset 6,Asset 7,Asset 8,Asset 9,Asset 10,Asset 11,Asset 12,Asset 13,Asset 14,Asset 15
0,2020-01-01,-0.005043,-0.005036,0.000775,-0.003363,0.001497,0.003876,0.004524,0.004192,0.002422,0.002797,-0.001422,-0.009238,-0.004591,-0.002918,-0.002046
1,2020-01-02,-0.007497,0.006632,-0.005470,-0.009216,0.022186,0.004874,-0.004781,-0.000220,0.011277,0.020051,-0.021920,-0.015684,0.019929,0.015380,-0.010764
2,2020-01-03,-0.006809,-0.001751,-0.006226,-0.012125,-0.010459,0.001935,-0.005512,-0.011975,0.004182,-0.005213,-0.025265,-0.011198,-0.000091,-0.009584,0.000518
3,2020-01-06,0.003964,0.001858,0.002741,-0.008733,0.014661,0.003019,0.004815,-0.010119,0.012096,0.003866,0.010105,0.000099,0.002454,-0.014820,-0.007250
4,2020-01-07,-0.008216,0.004525,0.004504,0.007033,-0.014113,-0.005396,-0.004281,0.030892,-0.001567,0.002567,0.002552,0.007011,0.022395,-0.013326,-0.005999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2020-06-25,0.000000,-0.001997,-0.008720,-0.006523,-0.015790,0.008711,0.001739,0.002505,0.033226,0.022452,-0.001332,0.016717,0.050965,0.068094,-0.000836
119,2020-06-26,0.015751,-0.006190,0.013346,0.002839,0.004271,-0.014527,0.018184,0.011956,-0.025505,-0.015469,0.003083,-0.002825,-0.008118,-0.021986,-0.005302
120,2020-06-29,-0.007210,-0.007273,-0.001351,0.026882,-0.018776,-0.016274,0.024025,-0.012784,-0.000228,0.005689,-0.002660,-0.011698,-0.009278,0.005740,-0.019074
121,2020-06-30,-0.020539,-0.008492,-0.004404,-0.021870,-0.010149,-0.016521,-0.016053,0.000536,-0.002732,-0.009159,0.000326,0.005662,0.004755,-0.005503,-0.008007
122,2020-07-01,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000

In [24]:
asset_data.drop(122)
asset_data.drop('Date',axis=1,inplace=True)

In [25]:
mu = np.array(asset_data.mean(axis=0)) #column-wise mean of all the assets stored in array
print(mu)

[-0.00547705 -0.00532116 -0.0067501  -0.0066523  -0.0070645  -0.00607412
 -0.00637036 -0.00590831 -0.00875084 -0.00798528 -0.00824065 -0.00815862
 -0.00796011 -0.00761547 -0.00849051]

In [26]:
c_it = []
for t in range(122):
  c_it.append(np.array(asset_data.loc[t])-mu)
c_it = np.array(c_it)
print(c_it)

[[ 0.00043404  0.00028539  0.00752469 ...  0.00336946  0.00469774
   0.00644449]
 [-0.00202028  0.01195309  0.00128056 ...  0.02788929  0.02299587
  -0.0022733 ]
 [-0.00133225  0.00357021  0.00052431 ...  0.0078693  -0.00196895
   0.0090087 ]
 ...
 [ 0.02122755 -0.00086848  0.02009618 ... -0.00015754 -0.01437075
   0.003189  ]
 [-0.00173341 -0.0019514   0.00539878 ... -0.00131832  0.01335525
  -0.01058386]
 [-0.01506185 -0.00317066  0.00234642 ...  0.01271487  0.0021123
   0.0004836 ]]

In [27]:
port_opt = LpProblem('Portfolio_optimization', LpMinimize)

x1 = LpVariable("x1", lowBound = 0)
x2 = LpVariable("x2", lowBound = 0)
x3 = LpVariable("x3", lowBound = 0)
x4 = LpVariable("x4", lowBound = 0)
x5 = LpVariable("x5", lowBound = 0)
x6 = LpVariable("x6", lowBound = 0)
x7 = LpVariable("x7", lowBound = 0)
x8 = LpVariable("x8", lowBound = 0)
x9 = LpVariable("x9", lowBound = 0)
x10 = LpVariable("x10", lowBound = 0)
x11 = LpVariable("x11", lowBound = 0)
x12 = LpVariable("x12", lowBound = 0)
x13 = LpVariable("x13", lowBound = 0)
x14 = LpVariable("x14", lowBound = 0)
x15 = LpVariable("x15", lowBound = 0)

X = np.array([[x1],[x2],[x3],[x4],[x5],[x6],[x7],[x8],[x9],[x10],[x11],[x12],[x13],[x14],[x15]])

In [28]:
z_t = np.dot(c_it,X)

In [29]:
Y = []
for i in range(122):
  y_i = LpVariable(f'y_{i}', lowBound=0)
  Y.append(y_i)

print(sum(Y)/122)

0.00819672131147541*y_0 + 0.00819672131147541*y_1 + 0.00819672131147541*y_10 + 0.00819672131147541*y_100 + 0.00819672131147541*y_101 + 0.00819672131147541*y_102 + 0.00819672131147541*y_103 + 0.00819672131147541*y_104 + 0.00819672131147541*y_105 + 0.00819672131147541*y_106 + 0.00819672131147541*y_107 + 0.00819672131147541*y_108 + 0.00819672131147541*y_109 + 0.00819672131147541*y_11 + 0.00819672131147541*y_110 + 0.00819672131147541*y_111 + 0.00819672131147541*y_112 + 0.00819672131147541*y_113 + 0.00819672131147541*y_114 + 0.00819672131147541*y_115 + 0.00819672131147541*y_116 + 0.00819672131147541*y_117 + 0.00819672131147541*y_118 + 0.00819672131147541*y_119 + 0.00819672131147541*y_12 + 0.00819672131147541*y_120 + 0.00819672131147541*y_121 + 0.00819672131147541*y_13 + 0.00819672131147541*y_14 + 0.00819672131147541*y_15 + 0.00819672131147541*y_16 + 0.00819672131147541*y_17 + 0.00819672131147541*y_18 + 0.00819672131147541*y_19 + 0.00819672131147541*y_2 + 0.00819672131147541*y_20 + 0.00819672131147541*y_21 + 0.00819672131147541*y_22 + 0.00819672131147541*y_23 + 0.00819672131147541*y_24 + 0.00819672131147541*y_25 + 0.00819672131147541*y_26 + 0.00819672131147541*y_27 + 0.00819672131147541*y_28 + 0.00819672131147541*y_29 + 0.00819672131147541*y_3 + 0.00819672131147541*y_30 + 0.00819672131147541*y_31 + 0.00819672131147541*y_32 + 0.00819672131147541*y_33 + 0.00819672131147541*y_34 + 0.00819672131147541*y_35 + 0.00819672131147541*y_36 + 0.00819672131147541*y_37 + 0.00819672131147541*y_38 + 0.00819672131147541*y_39 + 0.00819672131147541*y_4 + 0.00819672131147541*y_40 + 0.00819672131147541*y_41 + 0.00819672131147541*y_42 + 0.00819672131147541*y_43 + 0.00819672131147541*y_44 + 0.00819672131147541*y_45 + 0.00819672131147541*y_46 + 0.00819672131147541*y_47 + 0.00819672131147541*y_48 + 0.00819672131147541*y_49 + 0.00819672131147541*y_5 + 0.00819672131147541*y_50 + 0.00819672131147541*y_51 + 0.00819672131147541*y_52 + 0.00819672131147541*y_53 + 0.00819672131147541*y_54 + 0.00819672131147541*y_55 + 0.00819672131147541*y_56 + 0.00819672131147541*y_57 + 0.00819672131147541*y_58 + 0.00819672131147541*y_59 + 0.00819672131147541*y_6 + 0.00819672131147541*y_60 + 0.00819672131147541*y_61 + 0.00819672131147541*y_62 + 0.00819672131147541*y_63 + 0.00819672131147541*y_64 + 0.00819672131147541*y_65 + 0.00819672131147541*y_66 + 0.00819672131147541*y_67 + 0.00819672131147541*y_68 + 0.00819672131147541*y_69 + 0.00819672131147541*y_7 + 0.00819672131147541*y_70 + 0.00819672131147541*y_71 + 0.00819672131147541*y_72 + 0.00819672131147541*y_73 + 0.00819672131147541*y_74 + 0.00819672131147541*y_75 + 0.00819672131147541*y_76 + 0.00819672131147541*y_77 + 0.00819672131147541*y_78 + 0.00819672131147541*y_79 + 0.00819672131147541*y_8 + 0.00819672131147541*y_80 + 0.00819672131147541*y_81 + 0.00819672131147541*y_82 + 0.00819672131147541*y_83 + 0.00819672131147541*y_84 + 0.00819672131147541*y_85 + 0.00819672131147541*y_86 + 0.00819672131147541*y_87 + 0.00819672131147541*y_88 + 0.00819672131147541*y_89 + 0.00819672131147541*y_9 + 0.00819672131147541*y_90 + 0.00819672131147541*y_91 + 0.00819672131147541*y_92 + 0.00819672131147541*y_93 + 0.00819672131147541*y_94 + 0.00819672131147541*y_95 + 0.00819672131147541*y_96 + 0.00819672131147541*y_97 + 0.00819672131147541*y_98 + 0.00819672131147541*y_99

In [ ]:
#objective function
port_opt += sum(Y)/122

#constraints
for i in range(122):
  port_opt += Y[i]-z_t[i]>=0
  port_opt += Y[i]+z_t[i]>=0

port_opt += lpSum(X)==1
port_opt += lpSum(np.dot(mu,X))==0.5

port_opt.solve()
print(LpStatus[port_opt.status])

In [ ]:
for var in port_opt.variables():
    print(f"{var.name}: {var.value()}")